@charset "UTF-8";
body{
    background-color: rgb(14, 52, 133);
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 20px;
    padding: 15px;
    width: 410px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    transition: .4s;
}
select#flista{
    width: 150px;
    margin: 5px;
}
input#fnum{
    width: 100px;
}
footer,a{
    color: white;
    text-align: center;
    font-style: italic;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
div#res{
    text-align: center;
    padding: 8px;
}